<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis的DTD约束-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--核心的根标签
    属性：namespace名称空间
    -->
<mapper namespace="com.xxxxxchen.mapper.StudentMapper">
    <!--抽取sql语句片段-->
    <sql id="select">SELECT * FROM student</sql>
    <!--查询功能的select标签
        id属性：唯一标识，配合名称空间使用
        resultType属性：指定结果映射对象类型
        parameterType属性：指定参数映射对象类型 参数格式 #{参数名称}
    -->
    <select id="selectAll" resultType="student">
        <include refid="select"/>
    </select>
    <!--根据id查询-->
    <select id="selectById" resultType="student" parameterType="int">
        <include refid="select"/> WHERE id = #{id}
    </select>
    <!--新增功能的insert标签
        id属性：唯一标识，配合名称空间使用-->
    <insert id="insert" parameterType="student">
        INSERT INTO student VALUES (#{id},#{name},#{age})
    </insert>
    <!--修改功能的update标签-->
    <update id="update" parameterType="student">
        UPDATE student SET name=#{name},age=#{age} WHERE id=#{id}
    </update>
    <!--删除功能的delete标签-->
    <delete id="delete" parameterType="int">
        DELETE FROM student WHERE id=#{id}
    </delete>

    <select id="selectCondition" resultType="student" parameterType="student">
        <include refid="select"/>
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="name != null">
               AND name = #{name}
            </if>
            <if test="age != null">
                AND age = #{age}
            </if>
        </where>
    </select>

    <select id="selectByIds" resultType="student" parameterType="list">
        <include refid="select"/>
        <where>
            <foreach collection="list" open="id IN (" close=")" item="id" separator=",">
                #{id}
            </foreach>
        </where>
    </select>
</mapper>